package components

templ SearchBar() {
<div class="w-full max-w-4xl mx-auto mt-8 p-4 bg-white rounded shadow border-gray-50">
    <div class="flex items-center space-x-4">
        <input type="text" name="search" placeholder="search..." />
        <div class="relative"><label>Sort by</label></div>
        <button class="border-black">Export</button>
        <button class="border-white bg-red-300">New</button>
    </div>
</div>
}
